<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
        type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        requirePermission="false"/>
  </configSections>
  <connectionStrings>
    

	  <add name="RAMSDBEntitiesConnectionString"
         connectionString="metadata=res://*/RAMSDBEntities.csdl|res://*/RAMSDBEntities.ssdl|res://*/RAMSDBEntities.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RAMSDB.mdf;Initial Catalog=RAMSDB;Integrated Security=True;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--Data Source=YOHANNESF;Initial Catalog=RAMSDB;Integrated Security=True;Persist Security Info=True&quot;"-->
  <!--Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Users\yohan\source\repos\RAMSDB_WinForms\RAMSDB_WinForms\DataDirectory\RAMSDB.mdf;Initial Catalog=RAMSDB;Integrated Security=True;Persist Security Info=True&quot;"-->
  <!--Data Source=YOHANNESF;Initial Catalog=GUIDRAMS;Integrated Security=True;Persist Security Info=True&quot;"-->
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Yale</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>PerMonitorV2</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="1.0.0.0-11.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
 
</configuration>

<!--Deployment-->

  <!--<add name="RAMSDBEntitiesConnectionString" 
         connectionString="metadata=res://*/RAMSDBEntities.csdl|res://*/RAMSDBEntities.ssdl|res://*/RAMSDBEntities.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RAMSDB.mdf;Initial Catalog=RAMSDB;Integrated Security=True;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>-->



<!--Local Testing

<add name="RAMSDBEntitiesConnectionString" connectionString="metadata=res://*/RAMSDBEntities.csdl|res://*/RAMSDBEntities.ssdl|res://*/RAMSDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocaldb;Initial Catalog=RAMSDB;Integrated Security=True;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />-->

